<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>主控管理</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" th:href="@{~/plugins/fonts/font-icons.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/select2/4.0/select2.css}">
<link rel="stylesheet" th:href="@{~/plugins/icheck/1.0/minimal/grey.css}">
<link rel="stylesheet" th:href="@{~/plugins/jqGrid/4.7/css/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{~/plugins/adminlte/css/AdminLTE.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/common/jeesite.css}">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition ">
	<div class="wrapper">
		<div class="main-content">
		
			<div class="box box-main">
				<div class="box-header">
					<div class="box-title">
						<i class="fa fa-list-alt"></i> 微站管理
					</div>
					<div class="box-tools pull-right">
						<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a> 
					</div>
				</div>
			</div>
			
			<div class="box-body">
				<form id="searchForm" th:action="@{~/dev/mgt/statusListData}"  method="post" class="form-inline">
				<div class="form-group">
					<label class="control-label">设备编号：</label>
					<div class="control-inline">
						<input type="text" id="devNumber" name="devNumber" value="" maxlength="100" class="form-control width-120"/>
					</div>
				</div>		
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
				</form>
				<table id="dataGrid"></table>
				<div id="dataGridPage"></div>
			</div>
		</div>
	</div>
	
	<!-- wrapper END -->
	<script th:src="@{~/plugins/common/global.js}"></script>
	<script th:src="@{~/plugins/jquery/jquery-1.12.4.min.js}"></script>
	<script th:src="@{~/plugins/jquery/jquery-migrate-1.4.1.min.js}"></script>
	<script th:src="@{~/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{~/plugins/select2/4.0/select2.js}"></script>
	<script th:src="@{~/plugins/select2/4.0/i18n/zh_CN.js}"></script>
	<script th:src="@{~/plugins/layer/3.1/layer.js}"></script>
	<script th:src="@{~/plugins/my97/WdatePicker.js}"></script>
	<script th:src="@{~/plugins/jqGrid/4.7/js/jquery.jqGrid.js}"></script>
	<script th:src="@{~/plugins/jqGrid/4.7/js/jquery.jqGrid.extend.js}"></script>
	<script th:src="@{~/plugins/common/jeesite.js}"></script>
	<script th:src="@{~/plugins/common/i18n/jeesite_zh_CN.js}"></script>
	<script th:inline="javascript">
	
	$('#dataGrid').dataGrid({
		searchForm: $("#searchForm"),
		columnModel: [
			{header:'设备编号', name:'devNumber', index:'devNumber', width:90, align:"center",sortable:false,formatter: function(val, obj, row){
				return '<a href="/dev/mgt/otherInfo?id='+ row.id +'" class="btnList" title="其它信息">'+(val)+'</a>';
			}},
			{header:'当前电量', name:'quantity', index:'quantity', width:90, align:"center",sortable:false},
			{header:'当前电压', name:'voltage', index:'voltage', width:90, align:"center",sortable:false},
			{header:'当前电流', name:'current', index:'current', width:90, align:"center",sortable:false},
			{header:'当前功率', name:'power', index:'power', width:90, align:"center",sortable:false},
			{header:'主运行', name:'mainStatus', index:'mainStatus', width:100, align:"center",sortable:false},
			{header:'状态标志', name:'statusIden', index:'statusIden', width:100, align:"center",sortable:false,formatter: function(val, obj, row){
				return '<a href="/dev/mgt/statusiden?id='+ row.id +'" class="btnList" data-title="状态标志组">'+(val)+'</a>';
			}},
			{header:'故障标志', name:'malIden', index:'malIden', width:100, align:"center",sortable:false,formatter: function(val, obj, row){
				return '<a href="/dev/mgt/maliden?id='+ row.id +'" class="btnList" data-title="故障标志组">'+(val)+'</a>';
			}},
			{header:'BMS标志', name:'bmsIden', index:'bmsIden', width:100, align:"center",sortable:false,formatter: function(val, obj, row){
				return '<a href="/dev/mgt/bmsiden?id='+ row.id +'" class="btnList" data-title="BMS标志组">'+(val)+'</a>';
			}},
			{header:'其他信息', name:'actions', width:100, align:"center", sortable:false, title:false, formatter: function(val, obj, row){
				var actions = [];
					actions.push('<a href="/dev/mgt/otherInfo?id='+ row.id +'" /* class="btnList" */ title="查看">查看</a>&nbsp;');
					return actions.join('');
					/* <i class="fa fa-pencil"></i> */
			}},
			{header:'防雷器', name:'ptNeedle', index:'ptNeedle', width:90, align:"center",sortable:false},
			{header:'停电告警', name:'blackOutAlarm', index:'blackOutAlarm', width:90, align:"center",sortable:false},
			{header:'是否在线', name:'onlineFlag', index:'onlineFlag', width:90, align:"center",sortable:false},
			{header:'接收时间', name:'createDate', index:'createDate', width:200, align:"center",sortable:false}
		],
		// 加载成功后执行事件
		ajaxSuccess: function(data){
			
		}
	});

</script>


</body>
</html>
