<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>主控管理</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" th:href="@{~/plugins/fonts/font-icons.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/select2/4.0/select2.css}">
<link rel="stylesheet" th:href="@{~/plugins/icheck/1.0/minimal/grey.css}">
<link rel="stylesheet" th:href="@{~/plugins/jqGrid/4.7/css/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{~/plugins/adminlte/css/AdminLTE.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/common/jeesite.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition ">
	<div class="wrapper">
		<div class="main-content">
		
			<div class="box box-main">
				<div class="box-header">
					<div class="box-title">
						<i class="fa fa-list-alt"></i> 选择升级文件
					</div>
					<div class="box-tools pull-right">
						<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a> 
						<a href="#" class="btn btn-default" id="btnImport" title="升级文件"><i class="fa fa-plus"></i>添加升级文件</a>
					</div>
				</div>
			</div>
			
			<div class="box-body">
				<form id="searchForm" th:action="@{~/upgrade/listData}"  method="post" class="form-inline" th:object="${dse}">
				<div class="form-group">
					<label class="control-label">文件名称：</label>
					<div class="control-inline">
						<input type="text" id="fileName" name="fileName" value="" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label">文件url：</label>
					<div class="control-inline">
						<input type="text" id="url" name="url" value="" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label">类型：</label>
					<div class="control-inline">
						<input type="text" id="type" name="type" value="" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				
				<input type="hidden" id="devid" name="id" th:field="*{id}" />
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
				</form>
				<table id="dataGrid"></table>
				<div id="dataGridPage"></div>
			</div>
		</div>
	</div>
	
	<!-- wrapper END -->
	<script th:src="@{~/plugins/common/global.js}"></script>
	<script th:src="@{~/plugins/jquery/jquery-1.12.4.min.js}"></script>
	<script th:src="@{~/plugins/jquery/jquery-migrate-1.4.1.min.js}"></script>
	<script th:src="@{~/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{~/plugins/select2/4.0/select2.js}"></script>
	<script th:src="@{~/plugins/select2/4.0/i18n/zh_CN.js}"></script>
	<script th:src="@{~/plugins/layer/3.1/layer.js}"></script>
	<script th:src="@{~/plugins/my97/WdatePicker.js}"></script>
	<script th:src="@{~/plugins/jqGrid/4.7/js/jquery.jqGrid.js}"></script>
	<script th:src="@{~/plugins/jqGrid/4.7/js/jquery.jqGrid.extend.js}"></script>
	<script th:src="@{~/plugins/common/jeesite.js}"></script>
	<script th:src="@{~/plugins/common/i18n/jeesite_zh_CN.js}"></script>
	<script th:inline="javascript">
	
	$('#dataGrid').dataGrid({
		searchForm: $("#searchForm"),
		columnModel: [
			{header:'文件名称', name:'fileName', index:'fileName', width:90, align:"center",sortable:false},
			{header:'文件url', name:'url', index:'url', width:150, align:"center",sortable:false},
			{header:'类型', name:'type', index:'type', width:50, align:"center",sortable:false},
			{header:'上传时间', name:'createDate', index:'createDate', width:60, align:"center",sortable:false},
			{header:'操作', name:'actions', width:60, align:"center", sortable:false, title:false, formatter: function(val, obj, row){
				var actions = [];
				    actions.push('<a href="/upgrade/delete?id='+ row.id  +'&fileName='+ row.fileName +'" class="btnList" title="删除文件" data-confirm="确认要删除该升级文件吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
					actions.push('<a id="popup" onclick="popup(\''+row.id+'\')" title="升级"><i class="fa fa-refresh"></i></a>&nbsp;');
					return actions.join('');
			}} 
		],
		// 加载成功后执行事件
		ajaxSuccess: function(data){
			
		}
	});
	
    function popup(fileid){
    	var a = $('#devid').val();
    	$.ajax({
    		type:"POST",
    		url: "/upgrade/update",
    		data:"dse_id="+ a +"&file_id="+ fileid,
    		success:function(data){
    			if(data.result=="success"){
					layer.open({
						  title: '升级进度'
						  ,content: '已向设备发送升级请求！'
						});
				}else if(data.result=="reiteration"){
					layer.open({
						  title: '升级进度'
						  ,content: '已经在升级，等升级完成后重试！'
						});
				}
    		},
    		error:function(){
    			layer.open({
					  title: '升级进度'
					  ,content: '升级失败！'
					});
    		},
    		dataType: "json"
    	});
    }
	
	$('#btnImport').click(function(){
		js.layer.open({
			type: 1,
			area: 'auto',
			title: '选择文件',
			resize: false,
			scrollbar: false,
			shade: 0.3, //显示遮罩
			content: js.template('importTpl'),
			success: function(layero, index){
				layero.find('input[type="checkbox"]').iCheck();
			},
			btn: ['<i class="fa fa-check"></i> 添加',
				'<i class="fa fa-remove"></i> 取消'],
			btn1: function(index, layero){
				var form = {
					inputForm: layero.find('#inputForm'),
					file: layero.find('#file').val()
				};
			    if (form.file == '' || !js.endWith(form.file, '.bin')){
			    	js.showMessage("文件不正确，请选择后缀为 “.bin”的文件。", null, 'warning');
			        return false;
			    }
			    js.ajaxSubmitForm(form.inputForm, function(data){
					if(data.status == 'success'){
						layer.open({
							  title: '上传结果'
							  ,content: '上传成功'
							});
					}
					if(data.status == 'error'){
						layer.open({
							  title: '上传结果'
							  ,content: '上传失败'
							});
					}
					if(data.status == 'exist'){
						layer.open({
							  title: '上传结果'
							  ,content: '该文件已存在'
							});
					}
					page();
				}, "json");
				return true;
			}
		});
	});

</script>
<script id="importTpl" type="text/template">
<form id="inputForm" action="/upgrade/upload" method="post" enctype="multipart/form-data"
	class="form-horizontal mt20 mb10" style="overflow:auto;max-height:200px;">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-1">
			<input type="file" id="file" name="file" class="form-file"/>
			<div class="mt10 pt5">
			<font color="red" class="pull-left mt10">
				提示：仅允许导入“.bin”格式文件！
			</font>
		</div>
	</div>
</form>
</script>

</body>
</html>
