<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>主控管理</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" th:href="@{~/plugins/fonts/font-icons.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/select2/4.0/select2.css}">
<link rel="stylesheet" th:href="@{~/plugins/icheck/1.0/minimal/grey.css}">
<link rel="stylesheet" th:href="@{~/plugins/jqGrid/4.7/css/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{~/plugins/adminlte/css/AdminLTE.min.css}">
<link rel="stylesheet" th:href="@{~/plugins/common/jeesite.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition ">
	<div class="wrapper">
		<div class="main-content">
		
			<div class="box box-main">
				<div class="box-header">
					<div class="box-title">
						<i class="fa fa-list-alt"></i> 告警管理
					</div>
					<div class="box-tools pull-right">
						<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
						<a href="#" class="btn btn-default" id="btnDelMessage" title="批量删除告警信息"><i class="fa fa-remove"></i> 批量删除</a>  
					</div>
				</div>
			</div>
			
			   <div class="box-body">
				<form id="searchForm" th:action="@{~/alarm/currentAlarmListData}"  method="post" class="form-inline">
				
				<div class="form-group">
					<label class="control-label">告警内容：</label>
					<div class="control-inline">
						<input type="text" id="alarmType" name="alarmType" value="" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
				</form>
				<table id="dataGrid"></table>
				<div id="dataGridPage"></div>
			</div>
		</div>
	</div>
	
	<!-- wrapper END -->
	<script th:src="@{~/plugins/common/global.js}"></script>
	<script th:src="@{~/plugins/jquery/jquery-1.12.4.min.js}"></script>
	<script th:src="@{~/plugins/jquery/jquery-migrate-1.4.1.min.js}"></script>
	<script th:src="@{~/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{~/plugins/select2/4.0/select2.js}"></script>
	<script th:src="@{~/plugins/select2/4.0/i18n/zh_CN.js}"></script>
	<script th:src="@{~/plugins/layer/3.1/layer.js}"></script>
	<script th:src="@{~/plugins/my97/WdatePicker.js}"></script>
	<script th:src="@{~/plugins/jqGrid/4.7/js/jquery.jqGrid.js}"></script>
	<script th:src="@{~/plugins/jqGrid/4.7/js/jquery.jqGrid.extend.js}"></script>
	<script th:src="@{~/plugins/common/jeesite.js}"></script>
	<script th:src="@{~/plugins/common/i18n/jeesite_zh_CN.js}"></script>
	<script th:inline="javascript">
	
	$('#dataGrid').dataGrid({
		searchForm: $("#searchForm"),
		columnModel: [
			{header:'设备名称', name:'dse.devName', index:'dse.devName', width:90, align:"center",sortable:false},
			{header:'电表地址', name:'dse.emaddress', index:'dse.emaddress', width:60, align:"center",sortable:false},
			{header:'告警内容', name:'alarmType', index:'alarmType', width:60, align:"center",sortable:false},
			{header:'告警开始时间', name:'startTime', index:'startTime', width:90, align:"center",sortable:false},
			{header:'操作', name:'actions', width:80, align:"center", sortable:false, title:false, formatter: function(val, obj, row){
				var actions = [];
 					actions.push('<a href="/alarm/delete?id='+ row.id +'" class="btnList" title="删除记录" data-confirm="确认要删除该告警记录吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
 					return actions.join('');
			}} 
		],
		showCheckbox:true,
		// 加载成功后执行事件
		ajaxSuccess: function(data){
			
		}
	});
	
	// 批量删除
	$('#btnDelMessage').click(function(){
		var devCords = $('#dataGrid').dataGrid('getSelectRows');
		if(devCords != null && devCords.length > 0){
			js.confirm("确定要删除这些当前告警信息吗",function(){
				js.ajaxSubmit(
				   '/alarm/deleteBatches',
				   {
					id:devCords.join(',')
					},
				    function(data){
						js.showMessage(data.message);
						page();	
					}	    
				);
			});
		}else{
			js.showMessage("请选择要删除的当前告警信息");
		}
	});

</script>


</body>
</html>
